################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/tyfapi.cli/.vs/tyfapi.cli.slnx
/src/tyfapi.cli/obj
/src/tyfapi.cli/bin/Debug/net10.0
/src/tyfapi.cli.tests/bin/Debug/net10.0
/src/tyfapi.cli.tests/obj
/src/tyfapi.cli/.vs/ProjectEvaluation
